<!DOCTYPE html>
<html>
<head>
    <title>
        To Do
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
    <link rel='stylesheet' href='netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesom.min.css' />
</head>
<body class="background">
    <div class="rug">
      <p>Tasks</p>
      <form method="POST" action="/api/todo">
        <input type="text" name="item" placeholder="Add Task">
      </form>
      <div class="list-body" To-Do>
        <div class="panel-body">
          <span class="list-group">
            <div id="whole">
              <div id="open-todos">
                  <% for( let i = 0; i < todos.length; i++ ) { %>
                    <% if( ! todos[ i ].complete ) { %>
                    <div id="todo-<%= todos[ i ].id %>">
                      <input type="checkbox" id="checkbox-<%= todos[ i ].id %>" data-id="<%= todos[ i ].id %>" name="todos" value="<%= todos[ i ].id %>" <%= todos[ i ].complete ? 'checked="checked"' : '' %>/>
                      <label id="todo-label-<%= todos[ i ].id %>" type="edit" name="edit" onclick="clicky('<%= todos[ i ].id %>')" style="display: inline-block" contentEditable="false" action="edit">
                        <%= todos[ i ].task %>
                      </label>
                    </div>
                    <% } %>
                  <% } %>
                  </div>
                </div>
                  <form method="POST" action="api/todo/delete">
                  <p>Archived Tasks</p>
                  <div id="completed-todos">
                  <% for( let i = 0; i < todos.length; i++ ) { %>
                    <% if( todos[ i ].complete ) { %>
                    <div id="todo-<%= todos[ i ].id %>">
                      <input type="checkbox" id="checkbox-<%= todos[ i ].id %>" data-id="<%= todos[ i ].id %>" name="todos" value="<%= todos[ i ].id %>" <%= todos[ i ].complete ? 'checked="checked"' : '' %>/>
                      <label id="todo-label-<%= todos[ i ].id %>" type="edit" name="edit" onclick="clicky('<%= todos[ i ].id %>')" style="display: inline-block" contentEditable="false" action="edit" class="completed">
                        <%= todos[ i ].task %>
                      </label>
                    </div>
                    <% } %>
                  <% } %>
                </div>
                <button class="delete">Delete archived items</button>
                <br />
                <br />
                    <div class="jumbotron text-center">
                          <h1><span class="fa fa-lock"></span>Node Authenticaton</h1>
                         <p>Login with:</p>
                         <a href="/users/login" class="btn btn-default"><span class="fa fa-user"></span>Local Login</a>
                    </div>
                </div>
                </form>
            </div>
          </span>
        </div>
      </div>
    <script src="main.js"></script>
</body>

</html>
